/* Variáveis de CSS*/
/* Aqui a gente guarda as cores do site em um só lugar. Vantagem: se quiser trocar uma cor, é só mudar aqui, e ela é atualizada em todos os lugares que as usam. */
:root {
  --azul-escuro: #0400ee;
  --azul-claro: #12b1e6;
  --verde: #00ff00;
  --verde-escuro: #008000;
  --amarelo: #ffff00;
  --vermelho: #ff0000;
  --laranja: #ff7f00;
  --roxo: #4e07c09f;
  --cinza: #808080;
  --preto: #000000;
  --branco: #ffffff;
  --texto-principal: #333333;
  --texto-secundario: #666666;
  --cor-borda: #cccccc;
  --cor-fundo: #f0f0f0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lexend', sans-serif; /* Fonte do projeto. */
    color: var(--texto-principal)
    ;
}

.header {
    position: sticky; /* Faz o cabeçalho "grudar" no topo da página ao rolar */
    top: 0; /* Fixa o cabeçalho no topo */
    background-color: var(--cor-fundo);
    border-bottom: 1px solid var(--cor-borda);
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
}

.header-inner {
    max-width: 1200px; /* Limita a largura máxima do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo */
    padding: 10px 20px; /* Adiciona um pouco de espaço interno */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px; /* Espaço entre os elementos */
}